:root {
    --primary-color: #1a59a1;
    --primary-color-lighter: #8e66af;
    --primary-color-darker: #1c002d;
    --secondary-color: #59ffe1;
    --secondary-color-lighter: #aefff0;
    --background-color: #ffffff;
    --background-color-darker: #000000;
  }
 
html,body{
    height: 100%;
} 

.container{
    min-height: 100vh;
}
.main-section{
    background-image: url(../img/background.jpg) ;
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

header, footer{
    background-color: var(--primary-color);
}

.navbar-brand{
    padding: 0;
}

.name-brand{
    font-family: sans-serif;
    color: #fff;
    font-size: 28px;
    text-align: center;
    margin-top: 4vh;
}

.nav-link{
/*     font-family: sans-serif; */
    color: #fff;
    font-size: 18px;
    padding: .5em;
/*     margin: 6px; */
}

.nav-link:focus,.nav-link:hover{
    color: #000;
}

/* .modal-content{
    background-color: #3b4652;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
}
.user-img{
    margin-top: -50px;
    margin-bottom: 35px;
}

.user-img img{
    width: 100xp;
    height: 100px;
    box-shadow: 0px 0px 3px #848484;
    border-radius: 50%;
} */

.form-group input{
    height: 42px;
    font-size: 18px;
    border:0;
    padding-left: 54px;
    border-radius: 5px;
}

.form-group::before{
    font-family: "Font Awesome\ 5 Free";
    position: absolute;
    left: 28px;
    font-size: 22px;
    padding-top:4px;
}

.form-group#user-group::before{
    content: "\f007";
}

.form-group#contrasena-group::before{
    content: "\f023";
}
 
.btn-primary{
/*     display: inline;
    width: 200%; */
    background-color: #053d7c;
    font-size: 18px;
/*     color: white;
    border-radius: 5px;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle; */
}

.forgot{
    padding: 5px 0;
}

.forgot a{
    color: white;
}

  footer a {
    color: var(--background-color);
  }

  .footer-copyright {
    color: var(--background-color-darker);
    background-color: #053d7c;
  }