<div class="table-responsive" xmlns:th="http://www.w3.org/1999/xhtml">
    <table id="userList" class="table table-bordered table-hover table-striped" xmlns:th="http://www.w3.org/1999/xhtml">
        <thead class="thead-light">
            <tr>
                <th scope="col">#</th>
                <th scope="col">First</th>
                <th scope="col">Last</th>
                <th scope="col">Username</th>
                <th scope="col">E-mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user: ${userList}">
                <td th:text="${user.id}"></td>
                <td th:text="${user.name}"></td>
                <td th:text="${user.lastname}"></td>
                <td th:text="${user.userName}"></td>
                <td th:text="${user.email}"></td>
                <td>
<!--                    <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} or (${#authorization.expression('hasRole(''ROLE_USERAGENCY'')')} and ${#httpServletRequest.remoteUser==user.userName}) or (${#authorization.expression('hasRole(''ROLE_USERAIRLINE'')')} and ${#httpServletRequest.remoteUser==user.userName})">-->
                        <a href="#" th:href="@{'/editUser/'+ ${user.id}}"><i class="fas fa-edit"></i></a>
<!--                    </span>-->
<!--                    <span th:if="${#authorization.expression('hasRole(''ROLE_ADMIN'')')}" >-->
                        <a href="#" th:onclick="'javascript:confirmDelete(\''+ ${user.id} +'\');'"><i class="fas fa-user-times"></i></a>
<!--                    </span>-->
                </td>
            </tr>
        </tbody>
    </table>
<!--    <div id="deleteError" th:if="${deleteError}" class="alert alert-danger text-center" role="alert" xmlns:th="http://www.w3.org/1999/xhtml">-->
    <div class="alert alert-danger text-center" th:if="${ListErrorMessage}" th:text="${ListErrorMessage}" >Error Message</div>
</div>

<script type="text/javascript">
function confirmDelete(id){
	$('#deleteModal').modal('show');
	$("#userIdHiddenInput").val(id);
}

function deleteUser(){
	var id = $("#userIdHiddenInput").val();
    window.location = "deleteUser/"+id;
}
</script>
